.dropdown {
  background-color: white;
  position: absolute !important;
  border: 1px solid rgba(0 0 0 / 0.3);
  border-radius: 5px;
  min-width: 170px;
  overflow: visible;
  transition: transform 0.1s;
  transform-origin: left top;
  transform: scaleY(0);
  z-index: 1;
}

.dropdown--open {
  transform: scaleY(1);
}

.more__icon {
  border: 1px solid rgba(0 0 0 / 0.3) ;
  border-radius: 5px ;
  display: block ;
  margin: auto ;
  cursor: pointer ;
  display: flex ;
  gap: 10px ;
  align-items: center ;
  justify-content: center ;
  padding: 8px 15px ;
}

.dropdown__title{
  white-space: nowrap;
  overflow: hidden;
}